crates/veln-cli/tests/toolchain_cases/**/case-text/* text eol=lf -whitespace
examples/specification/**/case-text/* text eol=lf -whitespace
crates/veln-cli/tests/toolchain_cases/**/case-text/raw-* -text -diff
examples/specification/**/case-text/raw-* -text -diff
